<div class="header">
  <div class="container">
    <h1>Flavour</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
  
    <!-- Your code here -->
    <% @flavours.each do |flavour| %> 
<div class="flavour"> 
  <p class="content"><%= flavour.content %></p> 
  <p class="time"><%= flavour.created_at %></p> 
</div> 
<% end %>
    <%= link_to 'New Entry', "flavours/new" %>

  </div>
</div>