<div class="container">
	<div class="flavour"> 
		<p class="link"><%= link_to 'Flavour', "flavours/" %><p> 
	</div> 
</div>
<div class="container">
	<div class="flavour"> 
		<p class="link"><%= link_to 'Arsenals', "arsenals/" %><p> 
	</div> 
</div>