<%= form_for(@arsenal) do |f| %>
  <% if @arsenal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arsenal.errors.count, "error") %> prohibited this arsenal from being saved:</h2>

      <ul>
      <% @arsenal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
