body{
	background-image: image_url('steampunk_background.jpg');
	background-color: rgb(129,93,62);
	background-repeat: y;
	background-position: right top;
	background-attachment: fixed;
}
div.container
{
	padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;
	width: 650px;
    margin: auto;
}
div.flavour
{
	background-color: hsla(0, 0%, 100%, 0.6);
	border-radius: 25px;
    padding-top: 10px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;
	text-align: center;
}
div.events
{
	background-color: hsla(0, 0%, 100%, 0.6);
	border-radius: 25px;
    padding-top: 10px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;
	text-align: center;
	border: 5px solid #BB0000;
}
.navbar-text
{
	background-color: hsla(0, 0%, 100%, 0.6);
	border-radius: 25px;
    padding-top: 20px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px;
	width: 600px;
	height: 30px;
    margin: auto;
}
.title
{
	font-size: 18pt;
	font-weight: bold;
}